@CHARSET "UTF-8";
/* Hoja css de RegistroUsuario */
body{
    background-color: #3f535c;
    color: #f5f5f5;
    text-align:center;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
footer{
    
    background-color: white;
    color: grey;
}

.row {
	text-align: center;
	width: 100%;
}

   .graph {
   	height: 500px;
   	width: 50%;
   	margin-top: 200 auto;
   }
}
.imagen {
    margin-top:190px;
    display:block;
    margin:auto;
    
}


.fecha {
	color: black;
}

span{
	color: black;
}
.modal-content {
    color: black;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
    
}



	